* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	color: white;
	font-weight: 500
}

.logo {
	margin: 0px 0px 0px 600px;
}

.pic {

}

.writings {
	background: rgb(135, 133, 126);
	margin-right: 100px;
	margin-left: 100px;
	padding-left: 10px;
	padding-right: 10px; 
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px; 
}

.car {
	display: flex;
	justify-content: center;
	margin-top: 50px; 
}

.car img {
	border-radius: 10px;
}

@media screen and (max-width: 1024px) {

	.car img {
		width:400px;
	}
	.writings {
		width: 400px;
	}
}