body {
	font-family: 'Raleway', sans-serif;
}

.main {
	text-align: center;
	color: white;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
	"box1 box1"
	"box2 box3";
	grid-row-gap:20px;
	grid-column-gap: 20px;
}

.box1 {
	background-color: rgb(138, 201, 137);
	object-fit: contain; 
	grid-area: box1;
	text-align: center;
	
	text-decoration: none;
	color: white;
	border-radius: 10px;
}

.box2 {
	background-color: rgb(143, 191, 157);
	grid-area: box2;
	text-decoration: none;
	color: white;
	border-radius: 10px;
}

.box3 {
	background-color: rgb(212, 100, 59);
	grid-area: box3;
	text-decoration: none;
	color: white;
	border-radius: 10px;
}

.text {
	position: relative;
	top: 100px;
}

.box1:hover {
	opacity: 0.5;
	padding: 20px 30px;
}

.box2:hover {
	opacity: 0.5;
	padding: 20px 30px;
}

.box3:hover {
	opacity: 0.5;
	padding: 20px 30px;
}

.arrow {
	position: relative;
	top: 100px;
}